*{
    font-family: "Montserrat", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgba(93, 93, 125, 1);
    width: 368px;
    height: 160px;
    margin-top: -959px;
    margin-left: -6673px;
}